.u-section-1 .u-sheet-1 {
  min-height: 297px;
}

.u-section-1 .u-image-1 {
  width: 776px;
  height: 295px;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  width: 202px;
  min-height: 51px;
  height: auto;
  margin: -173px auto 60px 130px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-1 .u-text-1 {
  font-family: Helvetica;
  font-size: 3rem;
  margin: -13px 0 -13px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 274px;
    margin-top: 29px;
  }

  .u-section-1 .u-group-1 {
    width: 175px;
    margin-top: -162px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 206px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -94px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.6666666666666665rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 130px;
  }

  .u-section-1 .u-group-1 {
    width: 96px;
    min-height: 40px;
    margin-top: -85px;
    margin-bottom: 46px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin: 1px 6px 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 43px;
}

.u-section-2 .u-line-1 {
  width: 776px;
  transform-origin: left center;
  margin: 24px auto 16px;
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 680px;
}

.u-section-3 .u-text-1 {
  margin: 1px calc(((100% - 1140px) / 2)  + 227px) 0 calc(((100% - 1140px) / 2)  + 182px);
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 776px;
  height: 570px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 12px calc(((100% - 1140px) / 2)  + 227px) 19px calc(((100% - 1140px) / 2)  + 182px);
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 127px);
    margin-left: calc(((100% - 940px) / 2) + 82px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 127px);
    margin-left: calc(((100% - 940px) / 2) + 82px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 666px;
  }

  .u-section-3 .u-text-1 {
    width: 395px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 529px;
    margin-top: 10px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 29px 50px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 397px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin: 270px calc(((100% - 540px) / 2)) 25px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 443px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 250px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin: 41px auto 28px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 720px;
}

.u-section-4 .u-line-1 {
  width: 776px;
  transform-origin: left center;
  margin: 13px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 4px auto 0 182px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 582px;
  width: 776px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 9px auto 31px 182px;
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-4 .u-custom-html-1 {
    width: 720px;
    margin-top: 13px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 258px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 41px;
    margin-bottom: 23px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 730px;
}

.u-section-5 .u-line-1 {
  width: 776px;
  transform-origin: left center;
  margin: 6px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 15px auto 0 181px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 584px;
  width: 778px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 14px auto 36px 181px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-5 .u-custom-html-1 {
    width: 720px;
    margin-top: 13px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 263px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 28px;
    margin-right: 0;
    margin-bottom: 16px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 735px;
}

.u-section-6 .u-line-1 {
  width: 776px;
  transform-origin: left center;
  margin: 24px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 10px auto 0 180px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 585px;
  width: 780px;
  margin: 18px 180px 0;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 37px 180px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
    margin-top: 22px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-6 .u-custom-html-1 {
    min-height: 540px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-custom-html-1 {
    min-height: 255px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-top: 32px;
    margin-bottom: 22px;
  }
}@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica.ttf);
}